In [1]:
import pandas as pd

#Load Datasets

## load the title basics dataset
title_akas_df = pd.read_csv('./data/title.akas.tsv', index_col=None, na_values=['NA'],sep='\t',low_memory=False)


## load the title basics dataset
title_basics_df = pd.read_csv('./data/title.basics.tsv', index_col=None, na_values=['NA'],
sep='\t',low_memory=False)

#load ratings dataset
title_ratings_df = pd.read_csv('./data/title.ratings.tsv', index_col=None, na_values=['NA'],
sep='\t',low_memory=False)

In [3]:
# Filter data for region US
title_akas_us=title_akas_df[title_akas_df.region=='US']

In [4]:
# Fiter only movies
title_basics_df_movie=title_basics_df.groupby('titleType').get_group('movie').copy()
#Filter only non adult movies
title_basics_df_movie= title_basics_df_movie[title_basics_df_movie.isAdult=='0'].copy()

In [5]:
#  rename columns to merge
title_akas_us.rename(columns={"titleId": "tconst"},inplace=True)
display(title_akas_us.head(5))
display(title_basics_df_movie.head(5))

C:\Users\guptav4\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3781: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  return super(DataFrame, self).rename(**kwargs)

,tconst,ordering,title,region,language,types,attributes,isOriginalTitle
2,tt0000001,3,Carmencita,US,\N,\N,\N,0
7,tt0000002,4,The Clown and His Dogs,US,\N,\N,literal English title,0
19,tt0000005,1,Blacksmithing Scene,US,\N,alternative,\N,0
22,tt0000005,4,Blacksmith Scene #1,US,\N,alternative,\N,0
23,tt0000005,5,Blacksmithing,US,\N,\N,informal alternative title,0

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
8,tt0000009,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
145,tt0000147,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,20,"Documentary,News,Sport"
332,tt0000335,movie,Soldiers of the Cross,Soldiers of the Cross,0,1900,\N,\N,"Biography,Drama"
499,tt0000502,movie,Bohemios,Bohemios,0,1905,\N,100,\N
571,tt0000574,movie,The Story of the Kelly Gang,The Story of the Kelly Gang,0,1906,\N,70,"Biography,Crime,Drama"

In [6]:
#result dataset for non adult movies only for region US
df_us_movies_non_adult_result = pd.merge(title_akas_us,
                 title_basics_df_movie,
                 on='tconst', 
                 how='inner')

In [7]:
# This is in WIP, we may have to remove duplicates by primary title
########################################################################
len(df_us_movies_non_adult_result)

171832

In [8]:
df_us_movies_non_adult_result.head(20)

,tconst,ordering,title,region,language,types,attributes,isOriginalTitle,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000009,3,Miss Jerry,US,\N,\N,\N,0,movie,Miss Jerry,Miss Jerry,0,1894,\N,45,Romance
1,tt0000147,1,The Corbett-Fitzsimmons Fight,US,\N,\N,\N,0,movie,The Corbett-Fitzsimmons Fight,The Corbett-Fitzsimmons Fight,0,1897,\N,20,"Documentary,News,Sport"
2,tt0000630,4,Hamlet,US,\N,\N,\N,0,movie,Hamlet,Amleto,0,1908,\N,\N,Drama
3,tt0000679,1,The Fairylogue and Radio-Plays,US,\N,\N,\N,0,movie,The Fairylogue and Radio-Plays,The Fairylogue and Radio-Plays,0,1908,\N,120,"Adventure,Fantasy"
4,tt0000886,2,"Hamlet, Prince of Denmark",US,\N,\N,\N,0,movie,"Hamlet, Prince of Denmark",Hamlet,0,1910,\N,\N,Drama
5,tt0000891,2,The Witch and the Bicyclist,US,\N,\N,\N,0,movie,Cycle Rider and the Witch,Heksen og cyklisten,0,1909,\N,\N,\N
6,tt0000891,5,Cycle Rider and the Witch,US,\N,\N,\N,0,movie,Cycle Rider and the Witch,Heksen og cyklisten,0,1909,\N,\N,\N
7,tt0001101,2,Abraham Lincoln's Clemency,US,\N,\N,\N,0,movie,Abraham Lincoln's Clemency,Abraham Lincoln's Clemency,0,1910,\N,\N,\N
8,tt0001159,1,The Connecticut Yankee,US,\N,\N,\N,0,movie,The Connecticut Yankee,The Connecticut Yankee,0,1910,\N,\N,\N
9,tt0001186,3,Dorothy and the Scarecrow in Oz,US,\N,\N,\N,0,movie,Dorothy and the Scarecrow in Oz,Dorothy and the Scarecrow in Oz,0,1910,\N,\N,\N
10,tt0001230,1,Gentleman Joe,US,\N,\N,\N,0,movie,Gentleman Joe,Gentleman Joe,0,1910,\N,\N,\N
11,tt0001285,1,Forty Years in the Land of the Midian,US,\N,\N,second part title,0,movie,The Life of Moses,The Life of Moses,0,1909,\N,\N,"Biography,Drama,Family"
12,tt0001285,3,The Victory of Israel,US,\N,\N,fourth season title,0,movie,The Life of Moses,The Life of Moses,0,1909,\N,\N,"Biography,Drama,Family"
13,tt0001285,5,The Life of Moses,US,\N,\N,\N,0,movie,The Life of Moses,The Life of Moses,0,1909,\N,\N,"Biography,Drama,Family"
14,tt0001285,6,The Plagues of Egypt,US,\N,\N,third part title,0,movie,The Life of Moses,The Life of Moses,0,1909,\N,\N,"Biography,Drama,Family"
15,tt0001285,7,The Promised Land,US,\N,\N,fifth season title,0,movie,The Life of Moses,The Life of Moses,0,1909,\N,\N,"Biography,Drama,Family"
16,tt0001422,1,Trail to the West,US,\N,\N,\N,0,movie,Trail to the West,Trail to the West,0,1910,\N,\N,\N
17,tt0001482,1,As in a Looking Glass,US,\N,\N,\N,0,movie,As in a Looking Glass,As in a Looking Glass,0,1911,\N,\N,Drama
18,tt0001498,3,The Battle of Trafalgar,US,\N,\N,\N,0,movie,The Battle of Trafalgar,The Battle of Trafalgar,0,1911,\N,51,War
19,tt0001515,1,The Brand,US,\N,\N,\N,0,movie,The Brand,The Brand,0,1911,\N,\N,\N

In [54]:
df_us_movies_non_adult_result.columns

Index(['tconst', 'ordering', 'title', 'region', 'language', 'types',
       'attributes', 'isOriginalTitle', 'titleType', 'primaryTitle',
       'originalTitle', 'isAdult', 'startYear', 'endYear', 'runtimeMinutes',
       'genres'],
      dtype='object')

In [13]:
df_us_movies_non_adult_result=df_us_movies_non_adult_result[['tconst','primaryTitle','startYear','runtimeMinutes','genres']].copy()

In [14]:
len(df_us_movies_non_adult_result)

171832

In [57]:
df_us_movies_non_adult_result.head(25)

,tconst,primaryTitle,startYear,runtimeMinutes,genres
0,tt0000009,Miss Jerry,1894,45,Romance
1,tt0000147,The Corbett-Fitzsimmons Fight,1897,20,"Documentary,News,Sport"
2,tt0000630,Hamlet,1908,\N,Drama
3,tt0000679,The Fairylogue and Radio-Plays,1908,120,"Adventure,Fantasy"
4,tt0000886,"Hamlet, Prince of Denmark",1910,\N,Drama
5,tt0000891,Cycle Rider and the Witch,1909,\N,\N
6,tt0000891,Cycle Rider and the Witch,1909,\N,\N
7,tt0001101,Abraham Lincoln's Clemency,1910,\N,\N
8,tt0001159,The Connecticut Yankee,1910,\N,\N
9,tt0001186,Dorothy and the Scarecrow in Oz,1910,\N,\N
10,tt0001230,Gentleman Joe,1910,\N,\N
11,tt0001285,The Life of Moses,1909,\N,"Biography,Drama,Family"
12,tt0001285,The Life of Moses,1909,\N,"Biography,Drama,Family"
13,tt0001285,The Life of Moses,1909,\N,"Biography,Drama,Family"
14,tt0001285,The Life of Moses,1909,\N,"Biography,Drama,Family"
15,tt0001285,The Life of Moses,1909,\N,"Biography,Drama,Family"
16,tt0001422,Trail to the West,1910,\N,\N
17,tt0001482,As in a Looking Glass,1911,\N,Drama
18,tt0001498,The Battle of Trafalgar,1911,51,War
19,tt0001515,The Brand,1911,\N,\N
20,tt0001530,The Bushranger's Bride,1911,\N,Drama
21,tt0001569,The Daddy's Dream,1911,\N,\N
22,tt0001586,A Dog's Tale,1911,\N,\N
23,tt0001628,The Four Poster Pest,1911,\N,\N
24,tt0001692,The Great Moment,1911,\N,Drama

In [15]:
df_us_movies_non_adult_result.head(20)

,tconst,primaryTitle,startYear,runtimeMinutes,genres
0,tt0000009,Miss Jerry,1894,45,Romance
1,tt0000147,The Corbett-Fitzsimmons Fight,1897,20,"Documentary,News,Sport"
2,tt0000630,Hamlet,1908,\N,Drama
3,tt0000679,The Fairylogue and Radio-Plays,1908,120,"Adventure,Fantasy"
4,tt0000886,"Hamlet, Prince of Denmark",1910,\N,Drama
5,tt0000891,Cycle Rider and the Witch,1909,\N,\N
6,tt0000891,Cycle Rider and the Witch,1909,\N,\N
7,tt0001101,Abraham Lincoln's Clemency,1910,\N,\N
8,tt0001159,The Connecticut Yankee,1910,\N,\N
9,tt0001186,Dorothy and the Scarecrow in Oz,1910,\N,\N
10,tt0001230,Gentleman Joe,1910,\N,\N
11,tt0001285,The Life of Moses,1909,\N,"Biography,Drama,Family"
12,tt0001285,The Life of Moses,1909,\N,"Biography,Drama,Family"
13,tt0001285,The Life of Moses,1909,\N,"Biography,Drama,Family"
14,tt0001285,The Life of Moses,1909,\N,"Biography,Drama,Family"
15,tt0001285,The Life of Moses,1909,\N,"Biography,Drama,Family"
16,tt0001422,Trail to the West,1910,\N,\N
17,tt0001482,As in a Looking Glass,1911,\N,Drama
18,tt0001498,The Battle of Trafalgar,1911,51,War
19,tt0001515,The Brand,1911,\N,\N

In [18]:
# remove duplicates
df_us_movies_non_adult_result2=df_us_movies_non_adult_result.drop_duplicates()

In [19]:
#number after duplicates removed
len(df_us_movies_non_adult_result2)

149352

In [ ]:
df_us_movies_non_adult_result2

In [20]:
#split genres into three columns
df_us_movies_non_adult_result2[['genres1','genres2','genres3']]=df_us_movies_non_adult_result2.genres.str.split(',',expand=True)

C:\Users\guptav4\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\frame.py:3140: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[k1] = value[k2]

In [21]:
df_us_movies_non_adult_result2.head()

,tconst,primaryTitle,startYear,runtimeMinutes,genres,genres1,genres2,genres3
0,tt0000009,Miss Jerry,1894,45,Romance,Romance,None,None
1,tt0000147,The Corbett-Fitzsimmons Fight,1897,20,"Documentary,News,Sport",Documentary,News,Sport
2,tt0000630,Hamlet,1908,\N,Drama,Drama,None,None
3,tt0000679,The Fairylogue and Radio-Plays,1908,120,"Adventure,Fantasy",Adventure,Fantasy,None
4,tt0000886,"Hamlet, Prince of Denmark",1910,\N,Drama,Drama,None,None

In [22]:
len(df_us_movies_non_adult_result2)

149352

In [29]:
#result dataset for non adult movies only for region US and the rating and votes
df_us_movies_non_adult_ratings_result = pd.merge(df_us_movies_non_adult_result2,
                 title_ratings_df,
                 on='tconst', 
                 how='inner')

In [28]:
df_us_movies_non_adult_ratings_result

,tconst,primaryTitle,startYear,runtimeMinutes,genres,genres1,genres2,genres3,averageRating,numVotes
0,tt0000009,Miss Jerry,1894,45,Romance,Romance,None,None,5.5,67
1,tt0000147,The Corbett-Fitzsimmons Fight,1897,20,"Documentary,News,Sport",Documentary,News,Sport,5.2,260
2,tt0000630,Hamlet,1908,\N,Drama,Drama,None,None,3.1,10
3,tt0000679,The Fairylogue and Radio-Plays,1908,120,"Adventure,Fantasy",Adventure,Fantasy,None,5.9,26
4,tt0000886,"Hamlet, Prince of Denmark",1910,\N,Drama,Drama,None,None,5.2,16
5,tt0000891,Cycle Rider and the Witch,1909,\N,\N,\N,None,None,5.4,16
6,tt0001101,Abraham Lincoln's Clemency,1910,\N,\N,\N,None,None,4.4,13
7,tt0001159,The Connecticut Yankee,1910,\N,\N,\N,None,None,5.7,6
8,tt0001186,Dorothy and the Scarecrow in Oz,1910,\N,\N,\N,None,None,5.2,38
9,tt0001230,Gentleman Joe,1910,\N,\N,\N,None,None,5.0,6
10,tt0001285,The Life of Moses,1909,\N,"Biography,Drama,Family",Biography,Drama,Family,5.3,26
11,tt0001482,As in a Looking Glass,1911,\N,Drama,Drama,None,None,5.5,25
12,tt0001530,The Bushranger's Bride,1911,\N,Drama,Drama,None,None,6.0,8
13,tt0001586,A Dog's Tale,1911,\N,\N,\N,None,None,4.5,6
14,tt0001692,The Great Moment,1911,\N,Drama,Drama,None,None,5.9,8
15,tt0001892,Den sorte drøm,1911,53,Drama,Drama,None,None,6.2,151
16,tt0001911,Nell Gwynne,1911,50,"Biography,Drama,History",Biography,Drama,History,4.8,6
17,tt0001964,The Traitress,1911,48,Drama,Drama,None,None,6.3,41
18,tt0001998,The Adventures of Lieutenant Petrosino,1912,\N,Drama,Drama,None,None,4.6,12
19,tt0002031,As You Like It,1912,\N,\N,\N,None,None,5.2,8
20,tt0002101,Cleopatra,1912,100,"Drama,History",Drama,History,None,5.1,374
21,tt0002130,Dante's Inferno,1911,68,"Adventure,Drama,Fantasy",Adventure,Drama,Fantasy,7.1,1665
22,tt0002186,The Flying Circus,1912,46,Drama,Drama,None,None,6.6,65
23,tt0002199,"From the Manger to the Cross; or, Jesus of Naz...",1912,60,"Biography,Drama",Biography,Drama,None,5.8,403
24,tt0002220,Grannie,1912,\N,\N,\N,None,None,5.1,13
25,tt0002234,A Ruined Life,1912,\N,\N,\N,None,None,8.1,14
26,tt0002305,Life of Villa,1912,\N,"Documentary,War",Documentary,War,None,7.5,15
27,tt0002405,Oliver Twist,1912,\N,Drama,Drama,None,None,5.1,16
28,tt0002514,Saved in Mid-Air,1912,60,Drama,Drama,None,None,6.6,7
29,tt0002605,The Adventures of Kathlyn,1913,\N,Adventure,Adventure,None,None,6.9,8
...,...,...,...,...,...,...,...,...,...,...
855475,tt8752458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.5,8
855476,tt8753636,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.3,22
855477,tt8755176,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,15
855478,tt8757774,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,23
855479,tt8757776,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.8,17
855480,tt8757780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.8,15
855481,tt8757784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.0,15
855482,tt8757788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.7,12
855483,tt8758320,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.8,60
855484,tt8758778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.9,14
855485,tt8759606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.5,11
855486,tt8759910,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.6,10
855487,tt8760434,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.8,5
855488,tt8760552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.5,6
855489,tt8761038,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.7,6
855490,tt8761804,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.6,16
855491,tt8762958,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.2,8
855492,tt8762960,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.2,6
855493,tt8764752,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.6,11
855494,tt8765506,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.2,5
855495,tt8765520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.3,19
855496,tt8766228,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.8,5
855497,tt8767546,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.0,14
855498,tt8772548,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0,39
855499,tt8773600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.0,7
855500,tt8773626,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.7,7
855501,tt8774182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,5
855502,tt8774210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,5
855503,tt8782044,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.1,8
855504,tt8782440,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.4,5