# Dataset Exploration - Title (Principals)

This notebook will assist with exploring the data set to understand the data that it contains.

In [1]:
import pandas as pd

# load the title basics dataset
df = pd.read_csv('./data/title.principals.tsv', index_col=None, na_values=['NA'],
sep='\t',low_memory=False)

In [2]:
# display row and column counts
df.shape

(29109800, 6)

In [3]:
# display column names
df.columns.tolist()

['tconst', 'ordering', 'nconst', 'category', 'job', 'characters']

In [4]:
from IPython.display import display

# load the field descriptions
fld_dicitonary = pd.read_csv("./data/title_principals_flddesc.csv", index_col=0, sep='^')
pd.set_option('display.max_colwidth', -1)

# display descriptions
fld_dicitonary

            fldType                                                    fldDesc
fldName
tconst      string   alphanumeric unique identifier of the title
ordering    integer  a number to uniquely identify rows for a given titleId
nconst      string   alphanumeric unique identifier of the name/person
category    string   the category of job that person was in
job         string   the specific job title if applicable, else '\N'
characters  string   the name of the character played if applicable, else '\N'

In [5]:
# display the first 25 rows
df.head(25)

,tconst,ordering,nconst,category,job,characters
0,tt0000001,1,nm1588970,self,\N,"[""Herself""]"
1,tt0000001,2,nm0005690,director,\N,\N
2,tt0000001,3,nm0374658,cinematographer,director of photography,\N
3,tt0000002,1,nm0721526,director,\N,\N
4,tt0000002,2,nm1335271,composer,\N,\N
5,tt0000003,1,nm0721526,director,\N,\N
6,tt0000003,2,nm5442194,producer,producer,\N
7,tt0000003,3,nm1335271,composer,\N,\N
8,tt0000003,4,nm5442200,editor,\N,\N
9,tt0000004,1,nm0721526,director,\N,\N
10,tt0000004,2,nm1335271,composer,\N,\N
11,tt0000005,1,nm0443482,actor,\N,"[""Blacksmith""]"
12,tt0000005,2,nm0653042,actor,\N,"[""Assistant""]"
13,tt0000005,3,nm0005690,director,\N,\N
14,tt0000005,4,nm0249379,producer,producer,\N
15,tt0000006,1,nm0005690,director,\N,\N
16,tt0000007,1,nm0179163,actor,\N,\N
17,tt0000007,2,nm0183947,actor,\N,\N
18,tt0000007,3,nm0005690,director,\N,\N
19,tt0000007,4,nm0374658,director,\N,\N
20,tt0000007,5,nm0249379,producer,producer,\N
21,tt0000008,1,nm0653028,actor,\N,"[""Sneezing Man""]"
22,tt0000008,2,nm0005690,director,\N,\N
23,tt0000008,3,nm0374658,cinematographer,\N,\N
24,tt0000009,1,nm0063086,actress,\N,"[""Miss Geraldine Holbrook (Miss Jerry)""]"

In [6]:
df.ordering.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10], dtype=int64)

In [7]:
# display the last 25 rows
df.tail(25)

,tconst,ordering,nconst,category,job,characters
29109775,tt8709590,5,nm0290552,director,\N,\N
29109776,tt8709590,6,nm1999465,writer,\N,\N
29109777,tt8709590,7,nm2001058,writer,\N,\N
29109778,tt8709590,8,nm1996626,actress,\N,"[""Lili Cantapedra""]"
29109779,tt8709590,9,nm0578041,actress,\N,"[""Corina Maria de Jesus""]"
29109780,tt8709598,1,nm0566057,archive_footage,\N,\N
29109781,tt8709598,2,nm2024071,composer,\N,\N
29109782,tt8709598,3,nm1682986,composer,\N,\N
29109783,tt8709600,1,nm7604908,self,\N,"[""Himself - Host""]"
29109784,tt8709600,2,nm9614552,self,\N,"[""Himself - Guest""]"
29109785,tt8709604,1,nm0402077,actor,\N,\N
29109786,tt8709604,2,nm0566057,actor,\N,\N
29109787,tt8709604,3,nm2024071,actor,\N,\N
29109788,tt8709618,1,nm6041299,director,\N,\N
29109789,tt8709618,2,nm5165592,producer,producer,\N
29109790,tt8709638,10,nm5769442,editor,supervising editor,\N
29109791,tt8709638,1,nm7292200,self,\N,"[""Herself - Host""]"
29109792,tt8709638,2,nm7548307,self,\N,"[""Herself - Host""]"
29109793,tt8709638,3,nm3605835,self,\N,"[""Himself - Host""]"
29109794,tt8709638,4,nm5091791,self,\N,"[""Himself - Guest Host""]"
29109795,tt8709638,5,nm8571338,director,\N,\N
29109796,tt8709638,6,nm8863207,editor,\N,\N
29109797,tt8709638,7,nm8764400,editor,\N,\N
29109798,tt8709638,8,nm4742253,editor,supervising editor,\N
29109799,tt8709638,9,nm1903896,editor,\N,\N